
// * {
//   margin: 0;
//   padding: 0;
// }
// body{
//   background-color: rgb(0, 0, 0);
// }

// .evolve{
//   font-size:x-large;
//   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//   position: absolute;
//   top: 50%;
//   left: 40%;
//   bottom: 50%;
//   right: 25%;
//   color: #ffbe49;
//   font-size: larger;
// }

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}
.main{
 width: 100vw;
 height: auto; 
}

.scroll_1{
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size:  20px;
  font-family: 'Bungee', cursive;
  position: relative;
  // top: 35%;
  // left: 50%;
  color: #ffbe49;
  display: flex;
  align-items: center;
h1{
  color: #ffbe49;
  font-size:  20px;
  font-family: 'Bungee', cursive;
  font-weight: 100;
}}






.scroll_2{
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size:  20px;
  font-family: 'Bungee', cursive;
  position: relative;
  // top: 35%;
  // left: 50%;
  color: #ffbe49;
  display: flex;
  align-items: center;
  // font-size:20px;
  // font-family: 'Bungee', cursive;
  // position: relative;
  // // top: 60%;
  // // left: 50%;
  // color: #ffbe49; 
}